@model string
@{
  ViewBag.Title = "留言板";
  Layout = "~/Views/Shared/_Layout.cshtml";
  string hidden = string.IsNullOrEmpty(Context.Request.Cookies["ValidateKey"]) ? "" : "hidden";
}
<div class="container min-height610" id="msgApp">
  <ol class="breadcrumb">
    <li>
      <a asp-action="Index" asp-controller="Home">首页</a>
    </li>
    <li class="current">
      <em>@ViewBag.Title</em>
    </li>
  </ol>
  <h3 class="size24">
    留言须知：
  </h3>
  @Html.Raw(Model)
  <p>　</p>
  <div class="animated form-horizontal pulse">
    @Html.AntiForgeryToken()
    @if (hidden == nameof(hidden)) {
      <p>@Context.Request.Cookies["NickName"] 您好！</p>
    }
    <div class="row @hidden">
      <div class="col-md-4">
        <div class="input-group">
          <span class="input-group-addon">
            <label for="name">昵称：</label>
          </span>
          <input class="form-control" placeholder="昵称" required type="text" v-model="msg.NickName">
        </div>
      </div>
      <div class="col-md-5">
        <div class="input-group">
          <span class="input-group-addon">
            <label for="email">邮箱：</label>
          </span>
          <input class="form-control" id="email" placeholder="留下您的真实邮箱，以方便接收回复" required type="email" v-model="msg.Email">
          <span class="input-group-btn">
            <button :disabled="disableGetcode" @@click="getcode(msg.Email)" class="btn btn-danger" type="button">
              {{codeMsg}}
            </button>
          </span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group">
          <span class="input-group-addon">验证码：</span>
          <input class="form-control" placeholder="验证码" type="text" v-model="msg.Code">
        </div>
      </div>
    </div>
    <div class="animated fadeInDown overlay" style="margin-bottom: 0px !important;">
      <div class="ueditor" id="editor"></div>
    </div>
    <label>
      <input required type="checkbox" v-model="msg.Agree" value="true"/>我已阅读
      <a asp-action="agreement" asp-controller="Misc" target="_blank">《留言须知》</a>
    </label>
    <div class="form-group">
      <div class="col-xs-12">
        <button :disabled="!msg.Content" @@click="submit(msg)" class="btn btn-info btn-lg">
          发表留言
        </button>
        <a class="text-red">留言框可粘贴网络图片</a>
      </div>
    </div>
  </div>
  <parent-messages :data="list" :is-admin="false" @@getmsgs="getmsgs" @@reply-msg="replyMsg"></parent-messages>
  <div class="row">
    <div class="col-md-12 text-center">
      <n-pagination :page-count="Math.ceil(pageConfig.total / pageConfig.size)" :page-sizes="[10, 20, 30, 50]" show-size-picker v-model:page="pageConfig.page" v-model:page-size="pageConfig.size"/>
    </div>
  </div>
  <n-modal :mask-closable="false" :style="{ width: '50vw' }" :title="`回复：${reply.for?.NickName}`" @@positive-click="submit(reply)" negative-text="取消回复" positive-text="回复留言" preset="dialog" v-model:show="showPopup">
    <form class="form-horizontal" id="reply-form" method="post">
      @Html.AntiForgeryToken()
      @if (hidden == nameof(hidden)) {
        <p>@Context.Request.Cookies["NickName"] 您好！</p>
      }
      <div class="row @hidden">
        <div class="col-md-4">
          <div class="input-group">
            <span class="input-group-addon">
              <label for="name">昵称：</label>
            </span>
            <input class="form-control" placeholder="昵称" required type="text" v-model="reply.NickName">
          </div>
        </div>
        <div class="col-md-5">
          <div class="input-group">
            <span class="input-group-addon">
              <label for="email">邮箱：</label>
            </span>
            <input class="form-control" placeholder="留下您的真实邮箱，以方便接收回复" required type="email" v-model="reply.Email">
            <span class="input-group-btn">
              <button :disabled="disableGetcode" @@click="getcode(reply.Email)" class="btn btn-danger" type="button">
                {{codeMsg}}
              </button>
            </span>
          </div>
        </div>
        <div class="col-md-3">
          <div class="input-group">
            <span class="input-group-addon">验证码：</span>
            <input class="form-control" placeholder="验证码" type="text" v-model="reply.Code">
          </div>
        </div>
      </div>
      <div class="overlay">
        <div class="ueditor" id="editor2"></div>
      </div>
      <label>
        <input required type="checkbox" v-model="reply.Agree" value="true"/>我已阅读
        <a asp-action="agreement" asp-controller="Misc" target="_blank">《留言须知》</a>
      </label>
    </form>
  </n-modal>
</div>
<script src="~/UEditorPlus/ueditor.config.front.js"></script>
<script charset="utf-8" src="~/UEditorPlus/ueditor.all.js" type="text/javascript"></script>
<script>
window.defaultUser=function(){
  return {
    NickName: `@Context.Request.Cookies["NickName"]`,
    Email: `@Context.Request.Cookies["Email"]`,
    Agree:true,
    IsAdmin:true
  };
}
</script>
<script src="~/Scripts/global/leavemsg.js"></script>