@using System.Web
@using Masuit.MyBlogs.Core.Common
@using Masuit.MyBlogs.Core.Models.DTO
@using Masuit.MyBlogs.Core.Models.Enum
@using Masuit.MyBlogs.Core.Models.ViewModel
@using Masuit.Tools.Core.Net
@using Masuit.Tools.Systems
@model Masuit.MyBlogs.Core.Models.Entity.Post
@{
  ViewBag.Title = Model.Title;
  Layout = "~/Views/Shared/_Layout.cshtml";
  string[] colors = {
    "success",
    "info",
    "primary",
    "warning",
    "danger",
    "default",
    "primary"
  };
  UserInfoDto user = Context.Session.Get<UserInfoDto>(SessionKey.UserInfo);
  AdvertisementDto ad = ViewBag.Ads;
}
<script src="~/UEditorPlus/ueditor.config.front.js"></script>
<script charset="utf-8" src="~/UEditorPlus/ueditor.all.js" type="text/javascript"></script>
<script>
  window.defaultUser=function(){
    return {
      NickName: `@user.NickName`,
      Email: `@user.Email`,
      Agree:true,
      IsAdmin:true,
      voteDownCount:@Model.VoteDownCount,
      voteUpCount:@Model.VoteUpCount
    };
  }
</script>
<div class="container" id="postApp">
  <ol class="breadcrumb">
    <li>
      <a asp-action="Index" asp-controller="Home">首页</a>
    </li>
    <li>
      <a asp-action="Post" asp-controller="Home">文章列表</a>
    </li>
    @if (Model.Category.ParentId > 0) {
      if (Model.Category.Parent.ParentId > 0) {
        <li>
          <a asp-action="Category" asp-controller="Home" asp-route-id="@Model.Category.Parent.ParentId">@Model.Category.Parent.Parent.Name</a>
        </li>
      }

      <li>
        <a asp-action="Category" asp-controller="Home" asp-route-id="@Model.Category.ParentId">@Model.Category.Parent.Name</a>
      </li>
    }
    <li>
      <a asp-action="Category" asp-controller="Home" asp-route-id="@Model.CategoryId">@Model.Category.Name</a>
    </li>
    <li class="current">
      <em>@ViewBag.Title</em>
    </li>
  </ol>
  <div class="article wrapper-content">
    <div class="ibox">
      <div class="animated fadeIn ibox-content">
        <main>
          <section>
            <header class="page-header">
              <div class="text-center">
                <a>
                  <h2 class="padding-bot10">
                    @Html.Raw(Model.Title)
                  </h2>
                </a>
              </div>
              <div class="row">
                <div class="col-sm-8">
                  <div class="padding-bot10">
                    <span class="label label-info">
                      <a asp-action="Author" asp-controller="Home" asp-route-author="@Model.Author">@Model.Author</a>
                    </span>发表于
                    <a asp-action="Archieve" asp-controller="Home" asp-route-dd="@Model.PostDate.Day" asp-route-mm="@Model.PostDate.Month" asp-route-mode="@nameof(Model.PostDate)" asp-route-yyyy="@Model.PostDate.Year">
                      <time class="text-info">@Model.PostDate.ToString("yyyy-MM-dd HH:mm:ss")</time>
                    </a> |
                    <span class="label label-info">
                      <a asp-action="Author" asp-controller="Home" asp-route-author="@Model.Modifier">@Model.Modifier</a>
                    </span>最后修改于
                    <a asp-action="Archieve" asp-controller="Home" asp-route-dd="@Model.ModifyDate.Day" asp-route-mm="@Model.ModifyDate.Month" asp-route-mode="@nameof(Model.ModifyDate)" asp-route-yyyy="@Model.ModifyDate.Year">
                      <time class="text-success">@Model.ModifyDate.ToString("yyyy-MM-dd HH:mm")</time>
                    </a>
                  </div>
                </div>
                @{
                  if (!string.IsNullOrEmpty(Model.Label)) {
                    <div class="margin-right20 pull-right">
                      <div>
                        @foreach (string s in Model.Label.Split(new[] {
                                    ',',
                                    '，'
                                  }, StringSplitOptions.RemoveEmptyEntries)) {
                          <a asp-action="Tag" asp-controller="Home" asp-route-tag="@s">
                            <span class="label label-@colors[new Random().Next() % colors.Length]">@s</span>
                          </a>
                        }
                      </div>
                    </div>
                  }
                }
              </div>
              <div class="row">
                <div class="col-md-12 line-height24">
                  分类：
                  <i class="icon-map-pin"></i>
                  @{
                    await Html.RenderPartialAsync("CategoryPath", Model.Category);
                  }
                  | 评论总数：
                  <span class="text-danger">@ViewBag.CommentsCount</span>条 | 热度：
                  <span class="text-danger">@Model.TotalViewCount</span>℃ |
                  <span @@click="showViewer(true)" class="text-red">{{online}}</span>人正在浏览本文 | 状态：@Model.Status.GetDisplay()
                  @if (Model.Seminar.Any()) {
                    <span> | 所属专题：</span>
                    var seminars = Model.Seminar;
                    foreach (var s in seminars) {
                      <a asp-action="Index" asp-controller="Seminar" asp-route-id="@s.Id" class="label label-info">@s.Title</a>
                      <text> </text>
                    }
                  }
                </div>
                @if (Model.LimitMode > 0) {
                  <div class="col-md-6 col-sm-12 margin-top10 text-red">
                    本文 @Model.LimitMode.GetDescription(Model.Regions, Model.ExceptRegions)
                  </div>
                }
                <div class="col-md-6 col-sm-12 pull-right">
                  <div class="btn-group pull-right">
                    <a asp-action="Refresh" asp-controller="Post" asp-route-id="@Model.Id" class="btn btn-info">刷新</a>
                    @if (Model.IsFixedTop) {
                      <button @@click="fixtop" class="btn btn-success">取消置顶</button>
                    } else {
                      <button @@click="fixtop" class="btn btn-success">置顶</button>
                    }
                    @if (Model.Status == Status.Pending) {
                      <button @@click="postPass" class="btn btn-primary">通过</button>
                    }
                    <a class="btn btn-primary" href="/dashboard/posts/write?id=@Model.Id" target="_blank">修改</a>
                    <a class="btn btn-info" href="/dashboard/posts/write?refer=@Model.Id" target="_blank">复制</a>
                    <button @@click="takedown" class="btn btn-danger">下架</button>
                    <a asp-action="PostVisitRecordInsight" asp-controller="Post" asp-route-id="@Model.Id" class="btn btn-primary" target="_blank">洞察</a>
                  </div>
                </div>
              </div>
            </header>
            <article class="article" id="article">
              @if (DateTime.Now - Model.ModifyDate > TimeSpan.FromDays(365)) {
                <p class="text-center text-focus">该文章已经超过1年未更新，可能无法为您提供及时准确的资讯，请根据当下实际情况，酌情参考本文内容。</p>
              }
              @Html.Raw(Model.Content)
              @Html.Raw(Model.ProtectContent)
            </article>
          </section>
        </main>
        <hr class="margin-top10 marginbot10"/>
        @if (ad != null) {
          await Html.RenderPartialAsync("_ArticleListAdvertisement", ad);
        }
        <section class="fadeIn padding-bot20 padding-top40 row wow">
          <div class="col-xs-6">
            <div class="btn-group">
              <button :disabled="disableVoteUp" @@click="voteUp" class="btn btn-lg btn-success" type="button">
                <i class="icon-thumbsup"></i>
                <span>{{voteUpCount}}</span>
              </button>
              <button :disabled="disableVoteDown" @@click="voteDown" class="btn btn-danger btn-lg" type="button">
                <i class="icon-thumbsdown"></i>
                <span>{{voteDownCount}}</span>
              </button>
            </div>
          </div>
        </section>
        <section class="animated fadeIn row size16 wow">
          @{
            PostModelBase prev = ViewBag.Prev;
            if (prev != null) {
              <div class="col-xs-6">
                上一篇：
                <a asp-action="Details" asp-controller="Post" asp-route-id="@prev.Id">@prev.Title</a>
              </div>
            }

            PostModelBase next = ViewBag.Next;
            if (next != null) {
              <div class="col-xs-6 text-right">
                下一篇：
                <a asp-action="Details" asp-controller="Post" asp-route-id="@next.Id">@next.Title</a>
              </div>
            }
          }
        </section>
        @if (ViewBag.HistoryCount > 0) {
          <section class="animated fadeIn margintop20 wow">
            <h2>文章历史版本：</h2>
            <p>
              修改次数：@ViewBag.HistoryCount 次
              <a asp-action="History" asp-controller="Post" asp-route-id="@Model.Id">查看历史版本</a>
            </p>
          </section>
        }
        @{
          var posts = (IDictionary<int, string>) ViewBag.Related;
          if (posts.Count > 1) {
            <section class="animated fadeIn margintop20 wow">
              <h2>相关推荐：</h2>
              <table class="size16 table table-condensed">
                @for (int i = 1; i < posts.Count; i += 2) {
                  <tr>
                    <td style="width: 50%">
                      <a asp-action="Details" asp-controller="Post" asp-route-id="@posts.ElementAt(i - 1).Key">@posts.ElementAt(i - 1).Value</a>
                    </td>
                    <td>
                      <a asp-action="Details" asp-controller="Post" asp-route-id="@posts.ElementAt(i).Key">@posts.ElementAt(i).Value</a>
                    </td>
                  </tr>
                }
              </table>
            </section>
          }
        }
        <section class="animated fadeIn padding-bot20 wow">
          <h2>版权声明：</h2>
          <p class="size16 text-red">
            @if (Model.DisableCopy) {
              <text>🈲⚠本文为作者原创，仅用于本站访客学习、研究和交流目的，未经授权禁止转载。️⚠🈲</text>
            } else {
              <text>本文仅用于学习、研究和交流目的，欢迎非商业性质转载。本文链接：
                <a asp-action="Details" asp-controller="Post" asp-route-id="@Model.Id">@HttpUtility.UrlDecode(Context.Request.Scheme + "://" + Context.Request.Host + Context.Request.Path)</a>。</text>
              @Html.Raw(CommonHelper.SystemSettings["Disclaimer"])
            }
          </p>
        </section>
        <section class="animated fadeIn row wow">
          <div class="col-lg-12">
            <h2 id="comment">评论区：</h2>
            <div class="animated form-horizontal pulse">
              @Html.AntiForgeryToken()
              <div class="animated fadeInDown overlay" style="margin-bottom: 0px !important;">
                <div class="ueditor" id="editor"></div>
              </div>
              <div class="form-group">
                <div class="col-xs-12">
                  <button :disabled="!msg.Content" @@click="submit(msg)" class="btn btn-info btn-lg">提交</button>
                  <a class="text-red">评论框可粘贴网络图片</a>
                </div>
              </div>
            </div>
            @if (ViewBag.CommentsCount > 0) {
              <parent-messages :data="list" :is-admin="true" @@getmsgs="getcomments" @@reply-msg="replyMsg"></parent-messages>
              <div class="row">
                <div class="col-md-12 text-center">
                  <n-pagination :page-count="Math.ceil(pageConfig.total / pageConfig.size)" :page-sizes="[10, 20, 30, 50]" show-size-picker v-model:page="pageConfig.page" v-model:page-size="pageConfig.size"/>
                </div>
              </div>
            } else {
              <h4>还没有评论哦，赶紧来写评论吧</h4>
            }
          </div>
        </section>
      </div>
    </div>
  </div>
  <n-modal :mask-closable="false" :style="{ width: '50vw' }" :title="`回复：${reply.for?.NickName}`" @@positive-click="submit(reply)" negative-text="取消回复" positive-text="回复评论" preset="dialog" v-model:show="showPopup">
    @Html.AntiForgeryToken()
    <div class="ueditor" id="editor2"></div>
  </n-modal>
</div>
<environment names="Development">
  <link href="~/UEditorPlus/third-party/SyntaxHighlighter/shCoreDefault.css" rel="stylesheet"/>
  <script src="/UEditorPlus/third-party/SyntaxHighlighter/shCore.js"></script>
  <link href="~/Assets/auto-toc/auto-toc.css" rel="stylesheet"/>
  <script src="/Assets/auto-toc/auto-toc.js"></script>
  <script src="/Scripts/global/article.js"></script>
</environment>
<environment names="Stage,Production">
  @await Styles.RenderAsync("/bundles/article.css")
  @await Scripts.RenderAsync("/bundles/article.js")
</environment>