@using Masuit.MyBlogs.Core.Common
@using Masuit.MyBlogs.Core.Models.DTO
@using Masuit.MyBlogs.Core.Models.Entity
@using Masuit.MyBlogs.Core.Models.ViewModel
@using Masuit.Tools.Core.Net
@model Masuit.MyBlogs.Core.Models.Entity.PostHistoryVersion
@{
  ViewBag.Title = Model.Post.Title + "于" + Model.ModifyDate.ToTimeZoneF(Context.Session.Get<string>(SessionKey.TimeZone)) + "的历史版本：" + Model.Title;
  Layout = "~/Views/Shared/_Layout.cshtml";
  string[] colors = {
    "success",
    "info",
    "primary",
    "warning",
    "danger",
    "default",
    "primary"
  };
  AdvertisementDto ad = ViewBag.Ads;
}
<div class="container" id="postApp">
  <ol class="breadcrumb">
    <li>
      <a asp-action="Index" asp-controller="Home">首页</a>
    </li>
    <li>
      <a asp-action="Post" asp-controller="Home">文章列表</a>
    </li>
    @if (Model.Category.ParentId > 0) {
      if (Model.Category.Parent.ParentId > 0) {
        <li>
          <a asp-action="Category" asp-controller="Home" asp-route-id="@Model.Category.Parent.ParentId">@Model.Category.Parent.Parent.Name</a>
        </li>
      }

      <li>
        <a asp-action="Category" asp-controller="Home" asp-route-id="@Model.Category.ParentId">@Model.Category.Parent.Name</a>
      </li>
    }
    <li>
      <a asp-action="Category" asp-controller="Home" asp-route-id="@Model.CategoryId">@Model.Category.Name</a>
    </li>
    <li>
      @Html.ActionLink(Model.Post.Title.Length > 20 ? Model.Post.Title.Substring(0, 20) + "..." : Model.Post.Title, "Details", "Post", new {
        id = Model.PostId
      }, null)
    </li>
    <li>
      <a asp-action="History" asp-controller="Post" asp-route-id="@Model.PostId">历史版本</a>
    </li>
    <li class="current">
      <em>@(Model.Title.Length > 35 ? Model.Title.Substring(0, 35) + "..." : Model.Title)</em>
    </li>
  </ol>
  <div class="article wrapper-content">
    <div class="ibox">
      <div class="animated fadeIn ibox-content">
        <main>
          <section class="history">
            <header class="page-header">
              <div class="text-center">
                <a>
                  <h2 class="padding-bot10">
                    @Model.Title
                  </h2>
                </a>
              </div>
              <div class="row">
                <div class="col-sm-7">
                  <div class="padding-bot10">
                    <span class="label label-@colors[new Random().Next() % colors.Length]">@Model.Modifier</span>修改于
                    <a asp-action="Archieve" asp-controller="Home" asp-route-dd="@Model.ModifyDate.Day" asp-route-mm="@Model.ModifyDate.Month" asp-route-mode="@nameof(Model.ModifyDate)" asp-route-yyyy="@Model.ModifyDate.Year">
                      <time class="text-success">@Model.ModifyDate.ToTimeZoneF(Context.Session.Get<string>(SessionKey.TimeZone))</time>
                    </a> |
                    原分类：
                    <i class="icon-map-pin"></i>
                    <a asp-action="Category" asp-controller="Home" asp-route-id="@Model.CategoryId" class="label label-@colors[new Random().Next() % colors.Length]">@Model.Category.Name</a>
                    @if (Model.Seminar.Any()) {
                      <span> | 原所属专题：</span>
                      var seminars = Model.Seminar;
                      foreach (var s in seminars) {
                        <a asp-action="Index" asp-controller="Seminar" asp-route-id="@s.Id" class="label label-@colors[new Random().Next() % colors.Length]">@s.Title</a>
                        <text> </text>
                      }
                    }
                    <div class="btn-group">
                      <button @@click="deleteVersion(@Model.Id,@Model.PostId)" class="btn btn-danger btn-sm">删除此版本</button>
                      <button @@click="revertVersion(@Model.Id,@Model.PostId)" class="btn btn-info btn-sm">还原到此版本</button>
                    </div>
                  </div>
                </div>
                @{
                  if (!string.IsNullOrEmpty(Model.Label)) {
                    <div class="margin-right20 pull-right">
                      <div>
                        @foreach (string s in Model.Label.Split(',', '，', ' ')) {
                          if (!string.IsNullOrEmpty(s)) {
                            <a asp-action="Tag" asp-controller="Home" asp-route-tag="@s">
                              <span class="label label-@colors[new Random().Next() % colors.Length]">@s</span>
                            </a>
                          }
                        }
                      </div>
                    </div>
                  }
                }
              </div>
              <p class="text-center text-focus">
                您目前正在查看该文章的历史版本，文章的历史版本可能无法为您提供最准确及时的资讯，不具备任何参考价值，
                <a asp-action="Details" asp-controller="Post" asp-route-id="@Model.PostId">点击前往</a>该文章的最新版本。
              </p>
            </header>
            <article class="article" id="article">
              @Html.Raw(Model.Content)
              @Html.Raw(Model.ProtectContent)
            </article>
            <div data-use="reward" id="cyReward" role="cylabs"></div>
          </section>
        </main>
        <hr/>
        <section class="fadeInUp row size16 wow">
          <div class="col-xs-6">
            前一版本：
            @{
              PostHistoryVersion prev = ViewBag.Prev;
              if (prev != null) {
                <a asp-action="HistoryVersion" asp-controller="Post" asp-route-hid="@prev.Id" asp-route-id="@prev.PostId">@prev.Title</a>
              } else {
                <a>没有了</a>
              }
            }
          </div>
          <div class="col-xs-6 text-right">
            下一版本：
            @{
              PostHistoryVersion next = ViewBag.Next;
              if (next != null) {
                <a asp-action="HistoryVersion" asp-controller="Post" asp-route-hid="@next.Id" asp-route-id="@next.PostId">@next.Title</a>
              } else {
                <a>没有了</a>
              }
            }
          </div>
        </section>
        <hr class="margin-top10 marginbot10"/>
        @if (ad != null) {
          await Html.RenderPartialAsync("_ArticleListAdvertisement", ad);
        }
      </div>
    </div>
  </div>
</div>
<environment names="Development">
  <link href="~/UEditorPlus/third-party/SyntaxHighlighter/shCoreDefault.css" rel="stylesheet"/>
  <script src="/UEditorPlus/third-party/SyntaxHighlighter/shCore.js"></script>
  <link href="~/Assets/auto-toc/auto-toc.css" rel="stylesheet"/>
  <script src="/Assets/auto-toc/auto-toc.js"></script>
  <script src="/Scripts/global/article.js"></script>
</environment>
<environment names="Stage,Production">
  @await Styles.RenderAsync("/bundles/article.css")
  @await Scripts.RenderAsync("/bundles/article.js")
</environment>