@using Masuit.MyBlogs.Core.Models.Entity
@model Masuit.MyBlogs.Core.Models.Entity.PostHistoryVersion
@{
    ViewBag.Title = Model.Post.Title + "于" + Model.ModifyDate.ToString("yyyy-MM-dd HH:mm:ss") + "的历史版本：" + Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    string[] colors = { "success", "info", "primary", "warning", "danger", "default", "primary" };
    Advertisement ad = ViewBag.Ads;
}
<link href="~/Assets/jquery.tocify/jquery.tocify.min.css" rel="stylesheet" />
<link href="~/Assets/UEditor/third-party/SyntaxHighlighter/styles/shCore.min.css" rel="stylesheet" />
<div class="container">
    <ol class="cd-breadcrumb triangle">
        <li>@Html.ActionLink("首页", "Index", "Home")</li>
        <li>@Html.ActionLink("文章列表", "Post", "Home")</li>
        <li>@Html.ActionLink(Model.Post.Title.Length > 20 ? Model.Post.Title.Substring(0, 20) + "..." : Model.Post.Title, "Details", "Post", new { id = Model.PostId }, null)</li>
        <li>@Html.ActionLink("历史版本", "History", "Post", new { id = Model.PostId }, null)</li>
        <li class="current"><em>@(Model.Title.Length > 40 ? Model.Title.Substring(0, 40) + "..." : Model.Title)</em></li>
    </ol>
    <div class="wrapper-content article">
        <div class="ibox">
            <div class="ibox-content animated fadeIn">
                <main>
                    <section class="history">
                        <header class="page-header">
                            <div class="text-center">
                                <a>
                                    <h2 class="padding-bot10">
                                        @Model.Title
                                    </h2>
                                </a>
                            </div>
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="padding-bot10">
                                        <span class="label label-@colors[new Random().Next() % colors.Length]">@Model.Modifier</span>修改于<span class="text-success">@Model.ModifyDate.ToString("yyyy-MM-dd HH:mm:ss")</span> |
                                        原分类：<i class="icon-map-pin"></i>@Html.ActionLink(Model.Category.Name, "Category", "Home", new { id = Model.CategoryId }, new { @class = "label label-" + colors[new Random().Next() % colors.Length] })
                                        @if (Model.Seminar.Any())
                                        {
                                            <span> | 原所属专题：</span>
                                            var seminars = Model.Seminar;
                                            foreach (var s in seminars)
                                            {
                                                @Html.ActionLink(s.Seminar.Title, "Index", "Seminar", new { id = s.SeminarId }, new { @class = "label label-" + colors[new Random().Next() % colors.Length] })<text> </text>
                                            }
                                        }
                                        <div class="btn-group">
                                            <button class="btn btn-danger btn-sm" id="del">删除此版本</button>
                                            <button class="btn btn-info btn-sm" id="revert">还原到此版本</button>
                                        </div>
                                    </div>
                                </div>
                                @{
                                    if (!string.IsNullOrEmpty(Model.Label))
                                    {
                                        <div class="pull-right margin-right20">
                                            <div>
                                                @foreach (string s in Model.Label.Split(',', '，', ' '))
                                                {
                                                    if (!string.IsNullOrEmpty(s))
                                                    {
                                                        <a asp-controller="Home" asp-action="Tag" asp-route-id="@s">
                                                            <span class="label label-@colors[new Random().Next() % colors.Length]">@s</span>
                                                        </a>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </header>
                        <article class="article" id="article">
                            @Html.Raw(Model.Content)
                            @if (!string.IsNullOrEmpty(Model.ProtectContent))
                            {
                                <div class="row protected">
                                    @Html.Raw(Model.ProtectContent)
                                </div>
                            }
                        </article>
                        <div id="cyReward" role="cylabs" data-use="reward"></div>
                    </section>
                </main>
                <hr />
                <section class="wow fadeInUp row size16">
                    <div class="col-xs-6">
                        前一版本：
                        @{
                            PostHistoryVersion prev = ViewBag.Prev;
                            if (prev != null)
                            {
                                @Html.ActionLink(prev.Title, "HistoryVersion", "Post", new { id = prev.PostId, hid = prev.Id }, null)
                            }
                            else
                            {
                                <a>没有了</a>
                            }
                        }
                    </div>
                    <div class="col-xs-6 text-right">
                        下一版本：
                        @{
                            PostHistoryVersion next = ViewBag.Next;
                            if (next != null)
                            {
                                @Html.ActionLink(next.Title, "HistoryVersion", "Post", new { id = next.PostId, hid = next.Id }, null)
                            }
                            else
                            {
                                <a>没有了</a>
                            }
                        }
                    </div>
                </section>
                @if (ad != null)
                {
                    <section class="protected">
                        <a asp-controller="Advertisement" asp-action="Redirect" asp-route-id="@ad.Id" target="_blank">
                            <h3>
                                @ad.Title
                                <span class="text-red">[推广]</span>
                            </h3>

                            <div class="row padding-bot10">
                                @{
                                    string imgSrc = ad.ThumbImgUrl;
                                    if (!string.IsNullOrEmpty(imgSrc))
                                    {
                                        <div class="col-md-3">
                                            <img class="img-thumbnail img-responsive thumb" data-original="@imgSrc" alt="@ad.Title" title="@ad.Title ">
                                        </div>
                                    }
                                }
                                <div class="col-md-@(string.IsNullOrEmpty(imgSrc) ? 12 : 9)">
                                    <p>
                                        @ad.Description
                                    </p>
                                </div>
                            </div>
                        </a>
                    </section>
                }
            </div>
        </div>
    </div>
</div>
<script src="~/Assets/UEditor/third-party/SyntaxHighlighter/scripts/shCore.min.js"></script>
<script src="~/Assets/UEditor/third-party/SyntaxHighlighter/scripts/bundle.min.js"></script>
<script src="~/Assets/jquery.tocify/jquery.tocify.js"></script>
<script>
    $(function() {
		$("#toc").show();
        var toc = $("#toc").tocify({
            selectors: ".ibox-content h3,.ibox-content h4,.ibox-content h5"
        }).data("toc-tocify");
	    $(".tocify>.close").on("click", function(e) {
		    $(this).parent().hide();
	    });
	    SyntaxHighlighter.all();
	    SyntaxHighlighter.defaults['toolbar'] = false;
        $("#del").on("click", function (e) {
            swal({
                title: "确认删除这个版本吗？",
                text: '@Model.Title',
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "确定",
                cancelButtonText: "取消",
                showLoaderOnConfirm: true,
                animation: true,
                allowOutsideClick: false
            }).then(function () {
                $.post("/post/DeleteHistory", {
                    id: @Model.Id
                }, function (data) {
                    window.notie.alert({
                        type: 1,
                        text: data.Message,
                        time: 4
                    });
                    location.href="/@Model.PostId/history";
                });
            }, function () {
            });
        });
        $("#revert").on("click", function (e) {
            swal({
                title: "确认还原到这个版本吗？",
                text: '@Model.Title',
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "确定",
                cancelButtonText: "取消",
                showLoaderOnConfirm: true,
                animation: true,
                allowOutsideClick: false
            }).then(function () {
                $.post("/post/revert", {
                    id: @Model.Id
                }, function (data) {
                    window.notie.alert({
                        type: 1,
                        text: data.Message,
                        time: 4
                    });
                    location.href="/@Model.PostId";
                });
            }, function () {
            });
        });
	})
</script>