@using Masuit.MyBlogs.Core.Common
@using Masuit.Tools.Html
@{
    string[] colors = { "success", "info", "primary", "warning", "danger", "default", "primary" };
}
@model Masuit.MyBlogs.Core.Models.DTO.PostOutputDto
<div class="ibox wow fadeIn">
    <div class="ibox-content">
        <a asp-controller="Post" asp-action="Details" asp-route-id="@Model.Id" target="_blank">
            <h4>
                @if (Model.IsFixedTop)
                {
                    <i class="icon-thumbsup fixtop">[顶]</i>
                }
                @if (DateTime.Now - Model.ModifyDate < TimeSpan.FromDays(1))
                {
                    <i class="new">[新]</i>
                }
                @Model.Title
            </h4>
        </a>
        <div class="row padding-bot10">
            @{
                //随机取合适大小的图片
                string imgSrc = Model.Content.MatchRandomImgSrc();
                if (!string.IsNullOrEmpty(imgSrc))
                {
                    <div class="col-md-3">
                        <img class="img-thumbnail img-responsive thumb" data-original="@imgSrc" alt="@CommonHelper.SystemSettings["Title"]" title="@CommonHelper.SystemSettings["Title"] ">
                    </div>
                }
            }
            <div class="col-md-@(string.IsNullOrEmpty(imgSrc) ? 12 : 9)">
                <div class="small padding-bot10">
                    作者：<i class="icon-user-check"></i><strong class="label label-primary">
                        <a asp-controller="Home" asp-action="Author" asp-route-author="@Model.Author">@Model.Author</a>
                    </strong> <span class="text-muted">
                        | 发表时间：<i class="fa fa-clock-o"></i> @Model.ModifyDate.ToString("yyyy-MM-dd HH:mm") | 分类：<i class="icon-map-pin"></i>@Html.ActionLink(Model.CategoryName, "Category", "Home", new { id = Model.CategoryId }, null)
                    </span>
                </div>
                <p>
                    @Html.Raw(Model.Content.GetSummary())
                </p>
            </div>
        </div>
        <div class="row">
            @if (!string.IsNullOrEmpty(Model.Label))
            {
                <div class="col-md-6">
                    @foreach (string s in Model.Label.Split(',', '，'))
                    {
                        <a asp-controller="Home" asp-action="Tag" asp-route-id="@s" target="_blank">
                            <span class="label label-@colors[new Random().Next() % colors.Length]">@s</span>
                        </a>
                    }
                </div>
            }
            <div class="col-md-6 pull-right">
                <div class="small text-right">
                    <i class="fa fa-comments-o"></i>@Model.CommentCount 评论 |
                    <i class="fa fa-eye"></i>@Model.TotalViewCount 浏览 |
                    <i class="icon-thumbsup"></i>@Model.VoteUpCount 支持
                </div>
            </div>
        </div>
    </div>
</div>
