@using Masuit.MyBlogs.Core.Common
@using Masuit.Tools.Html
@using FreeRedis
@model Masuit.MyBlogs.Core.Models.DTO.PostDto
@inject IRedisClient CacheManager
@{
  var online = await CacheManager.SCardAsync("PostOnline:" + Model.Id);
}
<div class="article-card">
  @{
    //取第一张图片
    string imgSrc = Model.Content.MatchFirstImgSrc();
    if (!string.IsNullOrEmpty(imgSrc)) {
      imgSrc += "?width=240&format=webp&quality=50";
      <div class="cover">
        <img alt="@CommonHelper.SystemSettings["Title"]" class="lazyload thumb" data-src="@imgSrc?width=240&format=webp&quality=50" decoding="async" loading="lazy" title="@CommonHelper.SystemSettings["Title"] ">
      </div>
    }
  }
  <div class="article-content">
    <a asp-action="Details" asp-controller="Post" asp-route-id="@Model.Id" class="article-title" target="_blank">
      @if (Model.IsFixedTop) {
        <i class="fixtop icon-thumbsup">[顶]</i>
      }
      @if (DateTime.Now - Model.ModifyDate < TimeSpan.FromDays(1)) {
        <i class="new">[新]</i>
      }
      @Model.Title
    </a>
    <div class="meta-row">
      <span class="author">
        <a asp-action="Author" asp-controller="Home" asp-route-author="@(Model.Modifier ?? Model.Author)">@(Model.Modifier ?? Model.Author)</a>
      </span>
      <span>
        更新时间：
        <a asp-action="Archieve" asp-controller="Home" asp-route-dd="@Model.ModifyDate.Day" asp-route-mm="@Model.ModifyDate.Month" asp-route-mode="@nameof(Model.ModifyDate)" asp-route-yyyy="@Model.ModifyDate.Year">
          <time>@Model.ModifyDate.ToString("yyyy-MM-dd")</time>
        </a>
      </span>
      <span class="category">
        @{
          await Html.RenderPartialAsync("CategoryPath", Model.Category);
        }
      </span>
    </div>
    <div class="summary"> @Html.Raw(await Model.Content.GetSummary(150, 50)) </div>
    <div class="bottom-row">
      <div class="tags">
        @if (!string.IsNullOrEmpty(Model.Label)) {
          var tags = Model.Label.Split(',', '，');
          @foreach (var t in tags) {
            <span class="tag">
              <a asp-action="Tag" asp-controller="Home" asp-route-tag="@t">
                @t
              </a>
            </span>
          }
        }
      </div>
      <div class="stat-row">
        <span>
          <span class="icon">👁️</span>
          @Model.TotalViewCount
        </span>
        <span>
          <span class="icon">💬</span> @Model.CommentCount
        </span>
        <span>
          <span class="icon">👍</span> @Model.VoteUpCount
        </span>
      </div>
    </div>
  </div>
</div>