@using System.Diagnostics
@using Markdig

@model Masuit.MyBlogs.Core.Models.DTO.AdvertisementDto
@if (Model != null) {
  <div class="ad-card">
    <div class="cover">
      <img alt="@Model.Title" class="thumb" decoding="async" src="@(Model.ThumbImgUrl + "?width=280&format=webp&quality=50")" title="@Model.Title">
    </div>
    <div class="ad-content">
      <div class="ad-title">
        <a href="@Model.Url" target="_blank">
          <i class="size18 text-red">[荐]</i>@Model.Title
        </a>
      </div>
      <div class="ad-summary">@Html.Raw(Markdown.ToHtml(Model.Description))</div>
    </div>
  </div>
}
