@using System.Diagnostics
@model Masuit.MyBlogs.Core.Models.Entity.Advertisement
<div class="ibox wow fadeIn" id="@Stopwatch.GetTimestamp()">
    <div class="ibox-content" id="@Stopwatch.GetTimestamp()">
        <a asp-controller="Advertisement" asp-action="Redirect" asp-route-id="@Model.Id" target="_blank" id="@Stopwatch.GetTimestamp()">
            <h4>
                <i class="text-red size18">[荐]</i>@Model.Title
            </h4>
        </a>
        <a asp-controller="Advertisement" asp-action="Redirect" asp-route-id="@Model.Id" target="_blank" id="@Stopwatch.GetTimestamp()">
            <div class="row padding-bot10">
                <div class="col-sm-2 hidden-xs paddingright-clear">
                    <img class="img-thumbnail img-responsive thumb" src="@(Model.ThumbImgUrl+"?width=180&format=webp&quality=50")" alt="@Model.Title" title="@Model.Title" decoding="async">
                </div>
                <div class="col-sm-10 col-xs-12">
                    <p>
                        @Model.Description
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>