@using Masuit.MyBlogs.Core.Common
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv='content-language' content='zh-CN'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>正在验证客户端环境，请稍候......</title>
    <meta name="keywords" content="@CommonHelper.SystemSettings["Keyword"]" />
    <meta name="description" content="@CommonHelper.SystemSettings["Description"]" />
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#ffffff">
    <meta name="twitter:card" content="summary">
    <meta property="og:title" content="@CommonHelper.SystemSettings["Title"]">
    <meta property="og:description" content="@CommonHelper.SystemSettings["Description"]">
    <meta property="og:type" content="website">
    <meta property="og:url" content="@Context.Request.GetEncodedUrl()">
    <meta property="og:image" content="/favicon.png" />
    <meta property="og:image:alt" content="@CommonHelper.SystemSettings["Description"]" />
    <meta property="og:locale" content="zh_CN">
    <meta property="og:author" content="@CommonHelper.SystemSettings["Title"]" />
    <meta property="og:release_date" content="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")" />
    <meta property="article:author" content="@CommonHelper.SystemSettings["Title"]" />
    <meta property="article:published_time" content="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")">
    <meta property="article:modified_time" content="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")">
    <link href="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-y/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-y/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
    <script src="~/Scripts/layer/layer.js"></script>
    <script src="/Scripts/global/functions.js"></script>
</head>
<body>
    <noscript>
        <style>
            h3 {
                display: none !important;
            }
        </style>
        <div style="position: absolute;top: 0;left: 0;right: 0;bottom: 0;">
            <h2>检测到您的浏览器不支持javascript或已禁用javascript功能，当前页面无法正常显示！</h2>
        </div>
    </noscript>
    <h2>访问前请先解决下方的验证码：</h2>
    <form asp-controller="Firewall" asp-action="CloudflareTurnstileHandler" method="post">
        @Html.AntiForgeryToken()
        <div class="cf-turnstile" data-sitekey="@CommonHelper.SystemSettings["TurnstileClientKey"]" data-theme="light"></div>
        <p class="text-danger">若验证码未正常加载，请手动刷新页面或检查是否被您的浏览器扩展拦截了。</p>
        <button id="btn" class="btn btn-lg btn-primary" type="submit" style="display: none">点击进入网站</button>
    </form>
@Html.Raw(CommonHelper.SystemSettings["Scripts"])
</body>
</html>
<script>
    $(function() {
        const interval = setInterval(function() {
            if ($("input[name=cf-turnstile-response]").val().length) {
                clearInterval(interval);
                setTimeout(function() {
                    $("#btn").show();
                }, 2000);
                $("form").submit();
            }
        },1500);
    });
</script>