@using Masuit.Tools.Models
@model Location
@{
    ViewBag.Title = "根据详细地理位置信息获取经纬度";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #allmap {
        height: 900px;
        width: 100%;
    }
</style>
<div class="container">
    <ol class="cd-breadcrumb triangle">
        <li>@Html.ActionLink("首页", "Index", "Home")</li>
        <li class="current">
            <em>@ViewBag.Title</em>
        </li>
    </ol>
        <ul class="list-group">
            <li class="list-group-item">
                <p class="size24">
                    如果你觉得这个工具有用，请 @Html.ActionLink("点击这里", "Donate", "Misc") 支持一下博主！
                </p>
            </li>
        </ul>
    <form method="get">
        <div class="input-group">
            <input class="form-control" name="addr" value="@ViewBag.Address" placeholder="请输入有效地理位置" />
            <span class="input-group-btn">
                <button class="btn btn-info" type="submit">查询</button>
            </span>
        </div>
    </form>
    @if (Model != null)
    {
        <table class="table table-bordered table-condensed table-hover">
            <tr>
                <td>经纬度：</td>
                <td>(经度：@(Model.Lng),纬度：@(Model.Lat))</td>
            </tr>
        </table>
    }
</div>
<div class="container-fluid">
    @if (Model != null)
    {
        <div id="allmap"></div>
        <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=89772e94509a9b903724e247cbc175c2"></script>
        <script>
	    var map = new BMap.Map("allmap"); // 创建Map实例,设置地图允许的最小/大级别

	    map.centerAndZoom(new BMap.Point(@(Model.Lng), @(Model.Lat)), 16);
	    map.enableScrollWheelZoom(true);
	    map.clearOverlays();
	    var new_point = new BMap.Point(@(Model.Lng), @(Model.Lat));
	    var marker = new BMap.Marker(new_point); // 创建标注
	    map.addOverlay(marker); // 将标注添加到地图中
	    marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
	    map.panTo(new_point);
        </script>
    }
</div>