@using Masuit.Tools
@{
    int count = ViewBag.Total;
    int pages = Math.Ceiling(count / (Request["size"]?.ToInt32() ?? 15.0)).ToInt32();
    int current = Request["page"]?.ToInt32() ?? 1;
    int pageStart = current - 4 > 0 ? current - 4 : 1;
    int pageEnd = current + 4 >= pages ? pages : current + 4;
    current = current > pages ? pages : current;
    current = current <1 ? 1 : current;
    if (pageEnd - pageStart < 9)
    {
        if (pageStart == 1)
        {
            pageEnd = pageStart + 8 >= pages ? pages : pageStart + 8;
        }
        else
        {
            pageStart = pageEnd - 8 > 0 ? pageEnd - 8 : 1;
        }
    }
}
@if (pages > 1)
{
    <ul class="pagination" style="margin: 0">
        @if (current == 1)
        {
            <li class="disabled">
                <a>
                    首页
                </a>
            </li>
            <li class="disabled">
                <a aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }
        else
        {
            <li>
                <a href="@Request.Url.AbsolutePath?orderby=@Request["orderby"]" aria-label="Previous">
                    首页
                </a>
            </li>
            <li>
                <a href="@Request.Url.AbsolutePath?page=@(Request["page"].ToInt32() - 1 <= 0 ? 1 : Request["page"].ToInt32() - 1)&orderby=@Request["orderby"]" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }
        @if (pageStart > 1)
        {
            <li class="disabled">
                <a aria-label="Previous">
                    <span aria-hidden="true">...</span>
                </a>
            </li>
        }
        @for (int i = pageStart; i <= pageEnd; i++)
        {
            if (i == current)
            {
                <li class="disabled">
                    <a>@i</a>
                </li>
            }
            else
            {
                <li>
                    <a href="@Request.Url.AbsolutePath?page=@i&orderby=@Request["orderby"]">@i</a>
                </li>
            }
        }
        @if (pageEnd < pages)
        {
            <li class="disabled">
                <a aria-label="Previous">
                    <span aria-hidden="true">...</span>
                </a>
            </li>
        }
        @if (current == pages)
        {
            <li class="disabled">
                <a>
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="disabled">
                <a>
                    末页
                </a>
            </li>
        }
        else
        {
            <li>
                <a href="@Request.Url.AbsolutePath?page=@(current + 1)&orderby=@Request["orderby"]" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li>
                <a href="@Request.Url.AbsolutePath?page=@pages&orderby=@Request["orderby"]" aria-label="Next">
                    末页
                </a>
            </li>
        }
    </ul>
}